@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>ResetPassword</h1>
<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All"></div>
		<form asp-action="ResetPassword" method="post">
			<input class="text" asp-for="NewPassword" placeholder="E-Mail" required="">
			<span asp-validation-for="NewPassword" class="text-danger"></span>
			<input class="text" asp-for="ConfirmPassword" placeholder="E-Mail" required="">
			<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			<input type="submit" value="Reset">
		</form>
	</div>
</div>
@section ValidationScriptSection{
	<parial name="_ValidationScriptsPartial" />
}


